dist/
*.o
*.hi
*.pdf
*.png

cabal-dev/

benchmarks/BlazeVsBinary
benchmarks/ChunkedWrite
benchmarks/BenchThroughput
benchmarks/StringAndText
benchmarks/Compression
benchmarks/LazyByteString
benchmarks/BenchmarkServer
benchmarks/FastPut
benchmarks/BuilderBufferRange
benchmarks/BoundedWrite
benchmarks/UnboxedAppend
benchmarks/Utf8IO

Criterion/ScalingBenchmark

tests/LlvmSegfault
tests/Tests
