dist
*.o
*.hi
*.pdf
*.png

benchmarks/BlazeVsBinary
benchmarks/ChunkedWrite
benchmarks/BenchThroughput
benchmarks/StringAndText
benchmarks/Compression
benchmarks/LazyByteString
benchmarks/BenchmarkServer
benchmarks/FastPut

Criterion/ScalingBenchmark

tests/LlvmSegfault
tests/Tests
